@import "tailwindcss";

@theme {
  --color-primary: #6b8da8;
  --color-secondary: #f0f8ff;
  --color-light: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body.lang-en {
  font-family: "Poppins", sans-serif;
}

body.lang-ar {
  font-family: "Cairo", sans-serif;
}

body.lang-ur {
  font-family: "Noto Nastaliq Urdu", serif;
}

@layer components {
  .hoverEffect {
    @apply transition-all duration-300 ease-in-out;
  }

  button {
    @apply cursor-pointer;
  }

  .pageTitle {
    @apply text-2xl font-bold mb-6 text-black;
  }
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #6b8da8;
  border-radius: 2px;
}